.nameHead{
    align-items: center;
    align-content: center;
    background: linear-gradient(to right, #cfe2ff,#ffe4d8)
    height: 40px;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 3px;
}
h3{
    padding: 3px;
    text-align: center;
}
.content{
    background-color: white;
    padding-top: 10px;
    border-radius: 4px;
}

.cover{
    padding: 15px;
    background-color: rgb(243, 243, 243);
}
#profile{
    margin-top: 10px;
    border-radius: 6px;
    margin-left: 50px;
    margin-right: 50px;
    background: linear-gradient(
            to right, #e6bdbd, #b9d3fa);
}
#text{
    font-weight: 600;   
}