.nameHead{
    align-items: center;
    align-content: center;
    background-color: rgb(255, 189, 165);
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3px;
}
h3{
    padding: 3px;
    text-align: center;
}